.page3 {
	position: absolute;
	left: 0;
    right: 0;
    width: 100%;
    align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #101630;
}

.trans-table {
	position: relative;
	top:30px;
	margin-top: 30px;
	min-width: 900px;
	margin:auto;
	font-family: Sans-Serif;
	font-size: 11px;
	border-collapse: collapse;
	text-align: center;
}
.trans-table tr:first-child td{
	background: #090c1c;
	color: silver;
	padding: 10px 20px;
}

.trans-table tr:first-child td:hover{
	cursor: pointer;
}


.trans-table th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: #3f114f;
	border-left: none;
	border-right: none;
}
.trans-table td {
	background: #101630;
}

.trans-table-main-row{
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: #3f114f;
	border-left: none;
	border-right: none;
	background: #090c1c;
	color: silver;
	padding: 10px 20px;
}

.trans-table-main-row td{
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: #3f114f;
	border-left: none;
	border-right: none;
	background: #090c1c;
	color: silver;
	padding: 10px 20px;
}
.trans-table th:first-child, td:first-child {
	text-align: left;
}